<div class="page-wrap">
    <div class="page-head">
        <span>Архів від {{archiveFrom | date: 'dd/MM/yy'}} до {{archiveTo | date: 'dd/MM/yy'}} </span>
        <div class="flex-row">
            <app-i-button icon="i-collapse" title="Наступний період" (iClick)="nextPeriod()">
            </app-i-button>
            <app-i-button icon="i-expand" title="Попередній період" (iClick)="previousPeriod()">
            </app-i-button>
        </div>
    </div>
    <div class="page-body">
        <div class="page-body-actions">
            <div *ngIf="view.isMobile">
            </div>
            <app-button-group [class.t-i-button-group]="view.isMobile" [minimized]="view.isMobile">
                <app-i-button [disabled]="viewData.length < 1 || selectedItems.length > 1" icon="edit-icon"
                    title="Редагувати продажу" (iClick)="showToEdit()">
                </app-i-button>
                <app-i-button *ngIf="canView" icon="i-history" title="Історія замовлення" (iClick)="showHistory()"
                    [disabled]="viewData.length < 1 || selectedItems.length > 1">
                </app-i-button>
                <app-i-button icon="i-expand" title="Розкрити усі продажі" (iClick)="expandOrders()"
                    [disabled]="viewData.length < 1 || selectedItems.length > 1">
                </app-i-button>
                <app-i-button icon="i-collapse" title="Згорнути усі продажі" (iClick)="collapseOrders()"
                    [disabled]="viewData.length < 1 || selectedItems.length > 1">
                </app-i-button>
                <app-i-button icon="i-refresh" title="Оновити дані" (iClick)="refresh()">
                </app-i-button>

                <button class="i-menu-button" title="Колонки" (click)="showColumnsPicker = true"
                    [ngClass]="{'i-menu-button-active': hiddenColumns.size}">
                    <i class="dripicons dripicons-gear"> </i>
                </button>
            </app-button-group>

            <div class="button-wrap">
                <input class="s-serche" type="text" placeholder="Пошук"
                    (input)="dt.filterGlobal($event.target.value, 'contains')">
            </div>
        </div>
        <p-table class="prime-table" [value]="viewData" [paginator]="true" [rowsPerPageOptions]="[100,50,30]"
            selectionMode="single" [pageLinks]="4" [rows]="100" [responsive]="true" scrollable="true" scrollWidth="100%"
            scrollHeight="100%" dataKey="id" #dt [globalFilterFields]="['openDate', 'closeDate', 'cancelDate', 'orderNumber',
          'clientPhone', 'clientName', 'clientAddress', 'payment', 'seller', 'canceledBy',
          'itemsName', 'other', 'totalPrice']" (onSort)="onSort()">

            <ng-template pTemplate="colgroup">

                <colgroup *ngIf="view.isMobile">
                    <col />
                </colgroup>

                <colgroup *ngIf="!view.isMobile">
                    <col />
                    <!--coll for expand-->
                    <col [width]="50" />

                    <ng-container *ngFor="let column of columns">
                        <col *ngIf="visibleColumn(column)" [width]="column.width" />
                    </ng-container>
                </colgroup>
            </ng-template>

            <ng-template pTemplate="header">
                <tr>
                    <!--cols for expand and id-->
                    <th></th>
                    <th>#</th>
                    <ng-container *ngFor="let column of columns">
                        <th [pSortableColumn]="column?.field" *ngIf="visibleColumn(column)">
                            {{column?.title}}
                            <p-sortIcon [field]="column?.field"></p-sortIcon>
                        </th>
                    </ng-container>
                </tr>
            </ng-template>


            <ng-template pTemplate="body" let-expanded="expanded" let-rowData let-rowIndex="rowIndex">

                <tr class="ui-widget-header" *ngIf="rowMetadata[getDateKey(rowData.openDate)].index === rowIndex">
                    <td colspan="3">
                        <span style="font-weight:bold">{{rowData.openDate | date: 'dd/MM/yy'}}</span>
                    </td>
                </tr>

                <tr (click)="onItemClick(rowData)" [pSelectableRow]="rowData"
                    [ngClass]="{'s-selected-row': rowData.id === selectedItem?.id}">
                    <td class="expanded-cell">
                        <i href="#" [pRowToggler]="rowData"
                            [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
                    </td>
                    <td>{{rowData.id}}</td>
                    <ng-container *ngFor="let column of columns">
                        <td *ngIf="visibleColumn(column)">
                            <ng-container *ngIf="!column.template">
                                {{rowData[column.field]}}
                            </ng-container>
                            <ng-container *ngIf="column.template === 'date'">
                                {{rowData[column.field] | date: column.format}}
                            </ng-container>
                            <ng-container *ngIf="column.template === 'pageSpecial1'">
                                <a href="https://novaposhta.ua/tracking/?cargo_number={{rowData.orderNumber}}"
                                    target="_blank">
                                    <span>{{rowData.orderNumber}}</span>
                                </a>
                            </ng-container>
                            <ng-container *ngIf="column.template === 'pageSpecial2'">
                                {{rowData.payment === 0 ? 'Оплачено' : 'Наложний'}}
                            </ng-container>
                        </td>
                    </ng-container>
                </tr>
            </ng-template>

            <ng-template pTemplate="rowgroupheader" let-rowData>{{rowData['date']}}</ng-template>

            <ng-template let-item pTemplate="rowexpansion">
                <tr class="expanded-row">
                    <td [attr.colspan]="12">
                        <div class="products-list flex-col">
                            <table class="check-order">
                                <colgroup>
                                    <col width="100px">
                                    <col>
                                    <col width="110px">
                                    <col width="110px">
                                    <col width="100px">
                                    <col width="100px">
                                </colgroup>
                                <thead class="check-head">
                                    <tr class="check-tr">
                                        <th class="check-cell">Кількість</th>
                                        <th class="check-cell">Назва</th>
                                        <th class="check-cell" *ngIf="canView">Ціна покупки</th>
                                        <th class="check-cell">Ціна продажу</th>
                                        <th class="check-cell" *ngIf="canView">Різниця</th>
                                        <th class="check-cell">Сума</th>
                                    </tr>
                                </thead>

                                <tbody class="check-body">
                                    <tr class="check-tr" *ngFor="let prod of item.products">
                                        <td class="check-td">{{prod.quantity}} *</td>
                                        <td class="check-td check-item-name-td">
                                            {{prod.product.size}} {{prod.product.color}} {{prod.product.productType}} -
                                            {{prod.product.model}}
                                            {{prod.product.producer}}

                                            <br *ngIf="prod.product.freeNote" />
                                            <span class="prod-notes">{{prod.product.freeNote}}</span>
                                        </td>
                                        <td class="check-td" *ngIf="canView">{{prod.buyPrice}} </td>
                                        <td class="check-td">{{prod.price}}</td>
                                        <td class="check-td" *ngIf="canView">{{getDifference(prod)}}</td>
                                        <td class="check-td">{{prod.totalPrice}}</td>
                                    </tr>
                                </tbody>


                                <tfoot class="check-foot">
                                    <tr class="check-tr">
                                        <td class="check-cell"></td>
                                        <td class="check-cell"></td>
                                        <td class="check-cell total-cell" *ngIf="canView">Прибуток:</td>
                                        <td class="check-cell total-cell" *ngIf="canView">{{getProfit(item)}}</td>
                                        <td class="check-cell total-cell">До оплати:</td>
                                        <td class="check-cell total-cell">{{item.totalPrice}}</td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>


</div>
<app-spinner *ngIf="showSpinner">
</app-spinner>

<app-order *ngIf="orderDialog" [order]="selectedItem" (iSave)="closeEditDialog()" (onCloseDialog)="closeEditDialog()"
    [canEdit]="false">
</app-order>

<app-order-history [order]="selectedItem" [orderHistory]="orderHistory" *ngIf="showOrderHistory"
    (onCloseDialog)="showOrderHistory=$event">
</app-order-history>

<app-columns-picker *ngIf="showColumnsPicker" [columns]="columns" [hiddenColumns]="hiddenColumns"
    (closeDialog)="onColumnsPickerClosed($event)">
</app-columns-picker>