@import '../../../../assets/css/globals';
.nav-button {
    position: absolute;
    margin: 0px;
}
.nav-back {
    left: 0px;
}
.nav-next {
    right: 0px;
}
.card-wrapper {
    margin: 0px;
    padding: 0px 4px;
    list-style-type: none;
    overflow-y: auto;
    height: calc(100% - 40px);
    width: 100%;
    flex-grow: 1;
}

.card {
    margin: 4px 8px 4px 0px;
    border: 1px solid #fffefa;
    padding: 4px;
    box-sizing: border-box;
    background-color: #fffefa;
    width: 240px;
    height: 164px;
    float: left;
    box-shadow: 0px 0px 12px -2px black;
    border-radius: 2px;
    &:hover .clear-button {
        visibility: visible;
    }
}

.card-head,
.card-foot {
    height: 38px;
}

.card-head {
    padding-right: 20px;
    position: relative;
}

.card-foot {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-body {
    height: calc(100% - 76px);
    box-sizing: border-box;
    padding-left: 12px;
}

.card-name {
    display: inline-block;
    word-break: break-word;
    font-size: 16px;
    font-weight: 600;
    overflow: hidden;
}
.clear-button {
    width: 24px;
    height: 24px;
    margin: 0px;
    position: absolute;
    right: -4px;
    top: -4px;
    visibility: hidden;
}

.card-prop {
    font-size: 12px;
    line-height: 18px;
    width: 84px;
    font-weight: 600;
}

.card-info {
    width: calc(100% - 84px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 18px;
}

.card-quntity {
    width: 30%;
    text-align: center;
    line-height: 38px;
}

.card-price {
    width: 100%;
    height: 100%;
    line-height: 38px;
    text-align: right;
    font-size: 18px;
    font-weight: 600;
    color: rgba(216, 68, 68, .83);
}

.smile-wrap {
    width: 100%;
    height: 100%;
    flex-grow: 1;
    overflow: hidden;
    flex-shrink: 1;
    justify-content: center;
    align-items: center;
}

.smile-label {
    font-size: 20px;
}

.smile-icon {
    background-image: $badSmile;
    max-width: 200px;
    min-height: 160px;
    min-width: 100px;
    width: 80%;
    height: 80%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 20px 0px;
    opacity: 0.5;
}