@import '../../../assets/css/globals';
.group-wrap {
    display: flex;
    width: auto;
    overflow: hidden;
}
.withOverflow {
    overflow: unset;
}
.open {
    align-items: flex-start;
    @include wH(auto, auto);
    max-width: 320px;
    min-height: 52px;
    z-index: 8;
    opacity: 1;
    position: relative;
    top: 0px;
    background: silver;
    box-sizing: border-box;
    padding: 0px 0px 0px 44px;
    box-shadow: -8px 8px 12px -6px rgba(255,255,255,1);
}

.closed {
    position: absolute;
    left: 0px;
}

.open-bottom {
    padding: 44px 2px 2px 2px;
    max-width: 272px;
    .closed {
        top: 0px;
    }
}

.but-wrap {
    display: flex;
    flex-wrap: nowrap;
}

.hidden-content {
    display: none;
}
.show-content {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}
:host ::ng-deep .show-content >* {
    margin-bottom: 4px;
}