<p-dialog class="s-dialog" [visible]="true" [responsive]="true" showEffect="fade" [modal]="true" [closable]="false">
    <p-header>Поповнити склад</p-header>
    <div class="dialog-body" *ngIf="product">
        <div class="d-page-wrap">
            <div class="d-body-header flex-row">
                <div class="product-name">{{product.size}} {{product.color}} {{product.productType}} - {{product.model}} {{product.producer}}</div>
            </div>
            <div class="flex-row flex-wrap">
                <mat-form-field class="s-input-wrapper">
                    <mat-select placeholder="Склад" [(ngModel)]="selectedLocation" name="local">
                        <mat-option *ngFor="let item of locations" [value]="item.id">
                            {{item.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <div class="balance-wrap flex-row">
                    <div class="l-data-balance">
                        <div class="balance-label">Доступно</div>
                        <div class="balance-value">{{product.balance[selectedLocation] || 0}}</div>
                    </div>
                    <div class="r-data-balance">
                        <div class="balance-label">Стане</div>
                        <div class="balance-value">{{expectedCount}}</div>
                    </div>
                </div>
            </div>
            <div class="flex-row flex-wrap">
                <mat-form-field class="s-input-wrapper">
                    <input matInput type="number" placeholder="Кількість"
                        [(ngModel)]="addCount" [formControl]="countInp" min="1"
                        [customMin]="1">
                    <mat-error *ngIf="countInp.invalid">
                        Некоректне значення
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="d-cb-wrap flex-row">
            <p-checkbox class="s-cb" name="next" label="Додати ще" [(ngModel)]="addNext" [binary]="true" (onChange)="addMore($event)"></p-checkbox>
        </div>
    </div>
    <p-footer class="s-dialog-foot">
        <button class="d-s-button" type="button" pButton icon="pi pi-check" (click)="save()" label="Зберегти" [disabled]="countInp.invalid"></button>
        <button class="d-s-button-cancel" type="button" pButton icon="pi pi-times" label="Закрити" (click)="closeDialog()"></button>
    </p-footer>
</p-dialog>