<h3>Dynamic Columns</h3>
<p-dataTable [value]="data" selectionMode="single" [(selection)]="selectedItem" (onRowSelect)="onRowSelect($event)" [paginator]="true"
    rows="20" [responsive]="true" exportFilename="database">
    <p-header>
        <div class="ui-helper-clearfix">
            <button type="button" pButton icon="fa-file-o" iconPos="left" label="CSV" (click)="dt.exportCSV()" style="float:left">Data CSV</button>
        </div>
    </p-header>
    <!-- <p-column expander="true" styleClass="col-icon"></p-column> expandableRows="true" -->
    <p-column *ngFor="let col of cols" [field]="col.field" [header]="col.header" [sortable]="true" [editable]="true"></p-column>
    <p-footer>
        <div class="ui-helper-clearfix" style="width:100%">
            <button type="button" pButton icon="fa-plus" style="float:left" (click)="showDialogToAdd()" label="Add">Add</button>
        </div>
    </p-footer>
</p-dataTable>
<p-dialog header="Item Details" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true">
    <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="good">
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="name">Name</label></div>
            <div class="ui-grid-col-8"><input pInputText id="name" [(ngModel)]="good.name" /></div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="model">Model</label></div>
            <div class="ui-grid-col-8"><input pInputText id="model" [(ngModel)]="good.model" /></div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="size">Size</label></div>
            <div class="ui-grid-col-8"><input pInputText id="size" [(ngModel)]="good.size" /></div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="brutto">Brutto</label></div>
            <div class="ui-grid-col-8"><input pInputText id="brutto" [(ngModel)]="good.brutto" /></div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="netto">Netto</label></div>
            <div class="ui-grid-col-8"><input pInputText id="netto" [(ngModel)]="good.netto" /></div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="priseTotal">Total</label></div>
            <div class="ui-grid-col-8"><input pInputText id="priseTotal" [(ngModel)]="good.priseTotal" /></div>
        </div>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <button type="button" pButton icon="fa-close" (click)="delete()" label="Delete">Delete</button>
            <button type="button" pButton icon="fa-check" (click)="save()" label="Save">Save</button>
        </div>
    </p-footer>
</p-dialog>