<p-dialog class="s-dialog" [visible]="true" [responsive]="true" showEffect="fade" [modal]="true" [closable]="false">
    <p-header>Новий користувач</p-header>
    <form [formGroup]="userForm" class="dialog-body" novalidate autocomplete="off">
        <div class="d-page-wrap">
            <div class="flex-row flex-wrap">
                <mat-form-field class="s-input-wrapper">
                    <input matInput placeholder="Логін" formControlName="login" required autocomplete="off">
                    <mat-error *ngIf="login.errors && (login.dirty || login.touched)">{{getErrorLogin()}}</mat-error>
                </mat-form-field>
                <mat-form-field class="s-input-wrapper">
                    <mat-select placeholder="Роль" formControlName="isAdmin" required>
                        <mat-option *ngFor="let rol of userRoles" [value]="rol.value">
                            {{rol.label}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="isAdmin.errors && (isAdmin.dirty || isAdmin.touched)">Роль не вибрано</mat-error>
                </mat-form-field>
            </div>
            <div class="flex-row flex-wrap" >
                <mat-form-field formGroupName="pass" class="s-input-wrapper">
                    <input matInput formControlName="password" placeholder="Пароль" [type]="hide ? 'password' : 'text'" autocomplete="new-password" required>
                    <mat-icon [svgIcon]="hide === true ? 'visibility' : 'visibility-off'" matSuffix (click)="showValue()"></mat-icon>
                    <mat-error *ngIf="password.errors && (password.dirty || password.touched)">{{getErrorPass()}}</mat-error>
                </mat-form-field>
                <mat-form-field formGroupName="pass" class="s-input-wrapper">
                    <input matInput formControlName="confirmPassword" placeholder="Підтвердження паролю" type="password" autocomplete="new-password" required>
                    <mat-error *ngIf="confirmPassword.errors && (confirmPassword.dirty || confirmPassword.touched)">{{getErrorConfirmPass()}}</mat-error>
                </mat-form-field>
            </div>
            <div class="flex-row flex-wrap">
                <mat-form-field class="s-input-wrapper">
                    <input matInput placeholder="І'мя" formControlName="name" required>
                    <mat-error *ngIf="name.errors && (name.dirty || name.touched)">{{getErrorName()}}</mat-error>
                </mat-form-field>
                <mat-form-field class="s-input-wrapper">
                    <input matInput placeholder="Фамілія" formControlName="surName" required>
                    <mat-error *ngIf="surName.errors && (surName.dirty || surName.touched)">{{getErrorSurName()}}</mat-error>
                </mat-form-field>
            </div>
            <div class="flex-row flex-wrap">
                <mat-form-field class="s-input-wrapper">
                    <input matInput placeholder="Емейл" formControlName="email" required>
                    <mat-error *ngIf="email.errors && (email.dirty || email.touched)">{{getErrorEmail()}}</mat-error>
                </mat-form-field>
                <mat-form-field class="s-input-wrapper">
                    <input type="tel" matInput placeholder="Телефон" formControlName="phone">
                </mat-form-field>
            </div>
            <div class="flex-row flex-wrap flex-area-wrap">
                <mat-form-field class="s-area-wrapper">
                    <textarea matInput placeholder="Нотатки" formControlName="notes"></textarea>
                </mat-form-field>
            </div>
        </div>
    </form>
    <p-footer class="s-dialog-foot">
        <button class="d-s-button" type="submit" pButton icon="pi pi-check" label="Зберегти" (click)="save($event)" [disabled]="userForm.invalid"></button>
        <button class="d-s-button-cancel" type="button" pButton icon="pi pi-check" label="Закрити" (click)="closeDialog()"></button>
    </p-footer>
</p-dialog>