<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://btv.cloudapp.net:4200/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <TargetFramework>netcoreapp2.0</TargetFramework>
    <ProjectGuid>c8552937-3892-4684-b0b8-eac632e1111d</ProjectGuid>
    <MSDeployServiceURL>http://btv.cloudapp.net/MSDEPLOYAGENTSERVICE</MSDeployServiceURL>
    <DeployIisAppPath>Storage-api</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>RemoteAgent</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>btv</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishProvider>AzureVirtualMachine</PublishProvider>
    <_DestinationType>AzureVirtualMachine</_DestinationType>
    <SelfContained>false</SelfContained>
  </PropertyGroup>
</Project>