<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/fc33799b-ef05-447a-bf1b-d6e851ca4751/resourceGroups/sweetkeys/providers/Microsoft.Web/sites/sweetkeys</ResourceId>
    <ResourceGroup>sweetkeys</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>http://sweetkeys.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>c8552937-3892-4684-b0b8-eac632e1111d</ProjectGuid>
    <PublishUrl>https://sweetkeys.scm.azurewebsites.net/</PublishUrl>
    <UserName>$sweetkeys</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>