<p-dialog class="s-dialog" [visible]="true" [responsive]="true" showEffect="fade" [modal]="true" [closable]="false">
    <p-header>Перемістити</p-header>
    <div class="dialog-body" *ngIf="product">
        <div class="d-page-wrap">
            <div class="d-body-header flex-row">
                <div class="product-name">{{buildProductFullName(product)}}</div>
            </div>
            <div class="flex-row flex-wrap">
                <mat-form-field class="s-input-wrapper">
                    <mat-select placeholder="Склад" [ngModel]="selectedFrom" name="from" (ngModelChange)="updateSelection($event)">
                        <mat-option *ngFor="let item of locations" [value]="item.id">
                            {{item.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <div class="balance-wrap flex-row">
                    <div class="l-data-balance">
                        <div class="balance-label">Доступно</div>
                        <div class="balance-value">{{product.balance[selectedFrom] || 0}}</div>
                    </div>
                    <div class="r-data-balance">
                        <div class="balance-label">Залишиться у {{locationFrom.name}}</div>
                        <div class="balance-value">{{expectedFromCount}}</div>
                    </div>
                </div>
            </div>
            <div class="flex-row flex-wrap">
                <mat-form-field class="s-input-wrapper">
                    <mat-select placeholder="Склад" [ngModel]="selectedTo" name="from" (ngModelChange)="updateSelection($event)" disabled>
                        <mat-option *ngFor="let item of locations" [value]="item.id">
                            {{item.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <div class="balance-wrap flex-row">
                    <div class="l-data-balance">
                        <div class="balance-label">Доступно</div>
                        <div class="balance-value">{{product.balance[selectedTo] || 0}}</div>
                    </div>
                    <div class="r-data-balance">
                        <div class="balance-label">Стане у {{locationTo.name}}</div>
                        <div class="balance-value">{{expectedToCount}}</div>
                    </div>
                </div>
            </div>
            <div class="flex-row flex-wrap">
                <mat-form-field class="s-input-wrapper">
                    <input matInput type="number" placeholder="Кількість" [(ngModel)]="transferCount" [formControl]="trCount"
                        min="0" [max]="product.balance[selectedFrom]" [customMin]="0" [customMax]="product.balance[selectedFrom]"
                        [disableControl]="!product.balance[selectedFrom] || product.balance[selectedFrom] === 0">
                    <mat-error *ngIf="trCount.invalid">
                        Некоректне значення
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
    </div>
    <p-footer class="s-dialog-foot">
        <button class="d-s-button" type="button" pButton icon="pi pi-check" (click)="save()" label="Зберегти" [disabled]="fromCount === 0 || trCount.invalid"></button>
        <button class="d-s-button-cancel" type="button" pButton icon="pi pi-times" label="Закрити" (click)="closeDialog()"></button>
    </p-footer>
</p-dialog>