@import 'globals';

.s-dialog-foot {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    max-width: 800px;
    margin: 0px auto;
}

.s-dialog .ui-dialog {
    @include wH(100vw !important, 536px);
    left: 0px !important;
    top: calc(50% - 260px) !important;
    box-shadow: none;
    border: none;
    border-radius: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #fff;

    @include customMaxWidth(800px) {
        height: 100vh;
        top: 0px !important;
    }

    .ui-dialog-titlebar,
    .ui-dialog-footer {
        text-align: center;
        font-size: 18px;
        height: 64px;
        padding: 12px;
        background: black;
        border: none;
        border-radius: 0px;
        color: #fff;

        @include customMaxWidth(800px) {
            height: 40px;
            padding: 0px;
            font-size: 14px;
        }
    }

    .sell-header {
        display: flex;
        position: relative;
        @include wH(100%, 100%);
        justify-content: center;
    }

    .d-header-title {
        flex-grow: 1;
        flex-shrink: 1;
        padding: 0px 40px;
    }

    .ui-dialog-content {
        height: calc(536px - 128px) !important;
        padding: 12px 0px;
        margin: 0px auto;
        max-width: 800px;
        overflow-y: hidden;
        border: none;

        @include customMaxWidth(800px) {
            height: calc(100vh - 80px) !important;
        }
    }

    .s-cb {
        display: block;
        margin-right: 12px;
    }

    .ui-dialog-buttonpane {
        margin: 0px auto;
        max-width: 1000px;
        display: flex;
        flex-direction: row-reverse;
    }

    .foot-group {
        display: flex;
        justify-content: flex-end;
        margin-left: 80px;

        @include customMaxWidth(800px) {
            width: 100vw;
            margin-left: 0px;
        }
    }

    .step-grop-footer {
        @include customMaxWidth(800px) {
            display: none;
        }
    }
}

.dialog-body {
    @extend .flex-col;
    @include wH(100%, 100%);

    @include customMaxWidth(800px) {
        padding: 0px 4px;
    }
}

.d-body-header {
    flex-shrink: 0;
}

.d-page-wrap {
    @extend .flex-col;
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    overflow: auto;

    @include customMaxWidth(800px) {
        align-items: center;
    }

    .flex-wrap {
        width: 100%;
    }
}

.product-name {
    height: 40px;
    line-height: 40px;
    font-size: 18px;

    @include customMaxWidth(800px) {
        line-height: 20px;
        font-size: 14px;
    }
}

.balance-wrap {
    width: 50%;
    max-width: 400px;
    flex-grow: 1;
    flex-shrink: 1;
    justify-content: flex-start;

    @include customMaxWidth(800px) {
        margin: 0px auto 12px auto;
        justify-content: center;
    }

    @include customMaxWidth(450px) {
        max-width: calc(100% - 40px);
    }
}

.data-balance {
    display: inline-block;
    width: calc(50% - 12px);
}

.l-data-balance {
    @extend .data-balance;
    margin-right: 12px;
}

.r-data-balance {
    @extend .data-balance;
    margin-left: 12px;
}

.balance-label {
    height: 18px;
    margin-bottom: 2px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    @include customMaxWidth(499px) {
        font-size: 12px;
    }
}

.balance-value {
    font-size: 28px;
    height: 40px;
    box-sizing: border-box;
    padding-left: 16px;
    line-height: 38px;
    font-weight: 500;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    @include customMaxWidth(499px) {
        font-size: 24px;
    }
}

.price-wrap {
    width: 100%;
    min-width: 260px;
    max-width: 400px;
    margin: 0px;
    flex-shrink: 0;

    @include customMaxWidth(800px) {
        margin: 0px auto 12px auto;
    }
}

.row-fullWidth {
    width: 100%;
}

.flex-area-wrap {
    flex-grow: 1;
    flex-shrink: 1;
    width: 100%;
    min-height: 120px;
}

.area-xs {
    min-height: 80px;
}

.d-cb-wrap {
    flex-shrink: 0;
    height: 40px;
    padding: 10px 0px;
}