@import 'globals';
.s-dropdown {
    .ui-dropdown {
        width: 100% !important;
        height: 100%;
        border-radius: 0px;
        border: 1px solid;
        border-color: black;
        background: silver;
        color: black;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        &:hover {
            color: #fff;
            background: black;
            box-shadow: none;
            border-color: black;
        }
        * {
            transition: none;
        }
    }
    .ui-dropdown.ui-state-hover,
    .ui-dropdown.ui-state-focus {
        color: #fff;
        border-color: black;
        background: black;
        box-shadow: none;
    }
    .ui-dropdown.ui-state-disabled,
    .ui-dropdown.ui-state-disabled:hover {
        border-color: silver;
        background: silver;
        opacity: 1;
        color: black;
    }
    .ui-dropdown-label {
        color: inherit;
        background: inherit;
        height: 100%;
        width: 100%;
        line-height: 32px;
        padding: 4px 30px 4px 8px;
        border-radius: 0px;
        &:hover,
        &:focus {
            border-radius: 0px;
            box-shadow: none;
        }
    }
    .ui-dropdown-trigger {
        width: 30px;
        height: 100%;
        padding: 0px;
        text-align: center;
        line-height: 36px;
        border: none;
        color: inherit;
        background: inherit;
        .fa-caret-down {
            margin: auto;
            width: 16px;
            height: 16px;
        }
    }
    .ui-dropdown-panel {
        border-radius: 0px;
        background: silver;
        border: 1px solid black;
        margin-top: -1px;
        width: 100%;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 1);
    }
    .ui-dropdown-items.ui-dropdown-list {
        border-radius: 0px;
        background: silver;
        color: black;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        padding: 4px;
    }
    .ui-dropdown-item {
        margin-bottom: 2px;
        &:not(.ui-state-highlight):hover {
            border-color: black;
            background: black;
            color: #fff;
            border-radius: 0px;
        }
    }
    .ui-dropdown-item.ui-state-highlight {
        color: #fff;
        background: black;
        border-color: black;
        border-radius: 0px;
    }
}