// Background style
$appBackColor: #1b1c21;
$pageBackColor: #31353f;
// Font style
$WhiteColor: #ffffff;
$CaColor: #cacaca;
$fontSize: 14px;
$GoldColor: #988D67;
$InValid: #D53939;
$GreenColor: #619226;