@import 'globals';
html,
body {
    margin: 0px;
    padding: 0px;
    border: 0px;
    width: 100%;
    font-size: $fontSize;
    font-weight: normal;
    background-color: $appBackColor;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    .ui-table.ui-widget {
        font-size: 12px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
}

html {
    height: 100%;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}
.wh-100 {
    @include wH(100%, 100%);
}
.flex-wrap {
    flex-wrap: wrap;
    flex-shrink: 0;
}

.s-hidden {
    display: none !important;
}

.layout {
    display: flex;
    flex: 1;
    width: 100%;
    min-height: 100vh;
    max-height: 100vh;
    box-sizing: border-box;
    padding-top: 64px;
    @include customMaxWidth(1023px) {
        padding-top: 40px;
    }
}

.page-wrap {
    @extend .flex-col;
    flex: 1;
    width: 100%;
    height: calc(100vh - 64px);
    min-width: 100vw;
    max-width: 100vw;
    box-sizing: border-box;
    padding: 12px;
    background-color: $pageBackColor;
    @include customMaxWidth(1023px) {
        height: calc(100vh - 40px);
    }
}
.page-head {
    @extend .flex-row;
    height: 40px;
    flex: 0 0 40px;
    margin-bottom: 12px;
    position: relative;
    justify-content: space-between;
}
.page-body {
    @extend .flex-row;
    flex: 1 1 100%;
    overflow: hidden;
    min-height: calc(100% - 52px);
    max-height: 100%;
}
.page-body-with-foot {
    @extend .page-body;
    overflow-x: hidden;
    overflow-y: auto;
    min-height: calc(100% - 104px);
    max-height: calc(100% - 104px);
}
.page-foot {
    @extend .page-head;
    justify-content: flex-end;
    margin-bottom: 0px;
    margin-top: 12px;
}
.u-input-wrapper {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 16px;
    color: #fff;
    width: 50%;
    min-width: 300px;
    max-width: 400px;
}

.label {
    font-size: $fontSize;
    color: inherit;
    margin-bottom: 4px;
}

.overlay {
    @include wH(100vw, 100vh);
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 7;
    background-color: rgba(0,0,0,0.2);
}