<div class="page-wrap">

    <p-table class="prime-table" [value]="filteredData" selectionMode="single" [(selection)]="selectedItem" [loading]="showSpinner"
        [paginator]="true" [rowsPerPageOptions]="[100,50,30]" [pageLinks]="4" [rows]="100" [responsive]="true" (onRowClick)="onRowClick($event)"
        scrollable="true" scrollWidth="100%" scrollHeight="calc(100% - 54px)" [immutable]=false #dt>
        <p-header class="table-head" [ngClass]="{'mobile-t-head': view.isMobile}">
            <app-button-group [class.t-i-button-group]="view.isMobile" [minimized]="view.isMobile">
                <app-i-button icon="add-user-icon" title="Додати користувача" (iClick)="addNewUser()"></app-i-button>
                <app-i-button icon="del-icon" title="Видалити користувача" (iClick)="confirmation()"></app-i-button>
                <app-i-button icon="edit-icon" title="Редагувати користувача" (iClick)="showToEdit()"></app-i-button>
                <app-i-button icon="i-refresh" title="Оновити дані" (iClick)="refresh()"></app-i-button>
            </app-button-group>

            <div class="button-wrap">
                <input class="s-serche" type="text" placeholder="Пошук" (input)="dt.filterGlobal($event.target.value, 'contains')">
            </div>
        </p-header>
        <p-column field="login" header="Логін" [sortable]="true"></p-column>
        <p-column field="email" header="Емейл" [sortable]="true"></p-column>
        <p-column field="name" header="Ім'я" [sortable]="true"></p-column>
        <p-column field="surname" header="Фамілія" [sortable]="true"></p-column>
        <p-column field="phone" header="Телефон" [sortable]="true"></p-column>
        <p-column field="isAdmin" header="Роль" [sortable]="true" [style]="{'width':'120px'}">
            <ng-template let-col let-role="rowData" pTemplate="body">
                <span>{{role[col.field] === true ? 'Адміністратор' : 'Продавець'}}</span>
            </ng-template>
        </p-column>
        <p-column field="notes" header="Нотатки"></p-column>
    </p-table>
</div>
<app-user [userList]="filteredData" *ngIf="displayDialog" (onCloseDialog)="closeDialog($event)" (saveUser)="save($event)"></app-user>
<app-user-editor *ngIf="displayEditDialog" [user]="selectedItem" (onCloseDialog)="closeDialog($event)" (saveChange)="saveChange($event)"></app-user-editor>
<app-confirm (confirm)="confirmDelete($event)" *ngIf="showConfirm">
    <span header class="confirm-title">Ви впевнені, що бажаєте видалити користувача:
        <b>{{selectedItem.name}}</b>
    </span>
</app-confirm>