<p-dialog class="s-dialog" [visible]="true" [responsive]="true" showEffect="fade" [modal]="true" [closable]="false">
    <p-header class="sell-header">
        <div class="d-header-title">Додати до кошика</div>
    </p-header>
    <div class="dialog-body" *ngIf="product && locations">
        <div class="d-page-wrap">
            <div class="d-body-header flex-row">
                <div class="product-name">{{productName}}</div>
            </div>
            <div class="flex-row flex-wrap">
                <mat-form-field class="s-input-wrapper">
                    <mat-select placeholder="Склад" [(ngModel)]="selectedLocation" name="local">
                        <mat-option *ngFor="let item of locations" [value]="item.id">
                            {{item.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <div class="balance-wrap flex-row">
                    <div class="l-data-balance">
                        <div class="balance-label">Доступно</div>
                        <div class="balance-value">{{product.balance[selectedLocation] || 0}}</div>
                    </div>
                    <div class="r-data-balance">
                        <div class="balance-label">Залишок</div>
                        <div class="balance-value">{{expectedCount}}</div>
                    </div>
                </div>
            </div>
            <div class="flex-row flex-wrap">
                <mat-form-field class="s-input-wrapper">
                    <input matInput type="number" placeholder="Кількість" [(ngModel)]="sellCount" [formControl]="sCount" min="1" [max]="product.balance[selectedLocation]"
                        [disableControl]="!product.balance[selectedLocation] || product.balance[selectedLocation] === 0"    
                        [customMin]="0" [customMax]="product.balance[selectedLocation]">
                        <mat-error *ngIf="sCount.invalid">
                            Некоректне значення
                        </mat-error>
                </mat-form-field>
                <mat-form-field class="s-input-wrapper">
                    <input matInput type="number" placeholder="Ціна за одиницю" [(ngModel)]="sell.price" name="price" #price="ngModel" min="0"
                        step="0.01" disabled>
                </mat-form-field>
            </div>
            <div class="flex-wrap flex-row">
                <mat-form-field class="s-input-wrapper">
                    <input matInput type="number" placeholder="Сума до оплати" [(ngModel)]="totalSell" name="totalPrice" #totalPrice="ngModel" min="0"
                        step="0.01" disabled>
                </mat-form-field>
            </div>
        </div>
    </div>
    <p-footer class="s-dialog-foot">      
        <button class="d-s-button" type="button" pButton icon="pi pi-check" (click)="save()" label="До кошика" [disabled]="sellCount <= 0 || sCount.invalid"></button>
        <button class="d-s-button-cancel" type="button" pButton icon="pi pi-times" label="Закрити" (click)="closeDialog()"></button>
    </p-footer>
</p-dialog>