@import '../../../assets/css/globals';
.settings-header {
    display: block;
    @include wH(auto, 100%);
    max-width: 100%;
    font-size: 24px;
    color: #3f51b5;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 40px;
}
.d-s-button.ui-widget {
    box-shadow: none;
}
