<div class="page-wrap">
    <div class="page-head">
        <mat-tab-group class="storage-tab" (selectedIndexChange)="selectTab($event)">
            <mat-tab class="tab" *ngFor="let tab of tabs" [label]="tab.name">
            </mat-tab>
        </mat-tab-group>
    </div>
    <div class="page-body">

        <div class="page-body-actions">
            <div *ngIf="view.isMobile">
            </div>
            <app-button-group [class.t-i-button-group]="view.isMobile" [minimized]="view.isMobile && canView">
                <app-i-button *ngIf="canView" icon="add-icon" title="Додати Продукт" (iClick)="showDialogToAdd()">
                </app-i-button>
                <app-i-button *ngIf="canView" icon="edit-icon" title="Редагувати Продукт"
                    (iClick)="showDialogToEdit(selectedItem)"></app-i-button>
                <app-i-button *ngIf="canView" icon="copy-icon" title="Копіювати Продукт" (iClick)="duplicate()">
                </app-i-button>
                <app-i-button *ngIf="canView" icon="del-icon" title="Видалити Продукт" (iClick)="confirmation()">
                </app-i-button>
                <app-i-button *ngIf="canView" icon="addition-icon" title="Поповнити склад"
                    (iClick)="showAdditionDialog(true)"></app-i-button>
                <app-i-button *ngIf="canView" icon="withdrawal-icon" title="Забрати зі складу"
                    (iClick)="showRemovalDialog(true)"></app-i-button>
                <app-i-button *ngIf="canView && wereHouses.length > 2" icon="transfer-icon" title="Перемістити продукт"
                    (iClick)="showTransferDialog()" [disabled]="!selectedItem || !isBalance"></app-i-button>
                <app-i-button icon="sell-icon" title="Додати до кошика" (iClick)="showSellDialog()" *ngIf="!isClient"
                    [disabled]="!selectedItem || !isBalance">
                </app-i-button>
                <app-i-button icon="i-refresh" title="Оновити дані" (iClick)="refresh()"></app-i-button>
                <button class="i-menu-button" title="Колонки" (click)="showColumnsPicker = true"
                    [ngClass]="{'i-menu-button-active': hiddenColumns.size}">
                    <i class="dripicons dripicons-gear"> </i>
                </button>
            </app-button-group>
            <div class="button-wrap">
                <app-i-button *ngIf="!isClient && sellList.length > 0" icon="i-basket" title="Оформити замовлення"
                    (iClick)="showBasketDialog()">
                </app-i-button>
                <input class="s-serche" type="text" pInputText size="50" placeholder="Пошук"
                    (input)="dt.filterGlobal($event.target.value, 'contains')">
            </div>
        </div>

        <!--todo - fix it [rowStyleClass]="disabledRow" -->
        <p-table class="prime-table" [value]="filteredData" [paginator]="true" [rowsPerPageOptions]="[100,50,30]"
            [rows]="100" [pageLinks]="4" [responsive]="true" [scrollable]="false" scrollWidth="100%" scrollHeight="100%"
            #dt dataKey="id" selectionMode="single" [globalFilterFields]="globalSearchFields">

            <ng-template pTemplate="colgroup">
                <colgroup *ngIf="view.isMobile">
                    <col>
                </colgroup>

                <colgroup *ngIf="!view.isMobile">
                    <ng-container *ngFor="let column of columns">
                        <col *ngIf="visibleColumn(column)" [width]="column.width" />
                    </ng-container>
                    <col *ngFor="let col of wereHouses" width="80px">
                </colgroup>
            </ng-template>

            <ng-template pTemplate="header">
                <tr>
                    <ng-container *ngFor="let column of columns">
                        <th [pSortableColumn]="column?.field" *ngIf="visibleColumn(column)">
                            {{column?.title}}
                            <p-sortIcon [field]="column?.field"></p-sortIcon>
                        </th>
                    </ng-container>

                    <th *ngFor="let col of wereHouses" [pSortableColumn]="'wh_'+col.id">
                        {{col.name}}
                        <p-sortIcon [field]="'wh_'+col.id"></p-sortIcon>
                    </th>
                </tr>
                <!--search filters-->
                <tr>
                    <ng-container *ngFor="let column of columns">
                        <th *ngIf="visibleColumn(column)">
                            <input *ngIf="!column.hideFilter" pInputText type="text" [style.width]="'100%'"
                                (input)="dt.filter($event.target.value, column.field, null)" />
                        </th>
                    </ng-container>
                    <th *ngFor="let col of wereHouses"></th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
                <tr (click)="onRowClick(rowData)" [class]="disabledRow(rowData)" [pSelectableRow]="rowData"
                    [ngClass]="{'s-selected-row': rowData.id === selectedItem.id}">
                    <ng-container *ngFor="let column of columns">
                        <td *ngIf="visibleColumn(column)">
                            {{rowData[column.field]}}
                        </td>
                    </ng-container>
                    <td *ngFor="let col of wereHouses">{{rowData['wh_'+col.id]}}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>

<app-product *ngIf="displayDialog" [categories]="categories" (onCloseDialog)="closeDialog($event)"
    (saveProduct)="save($event)" [product]="selectedItem">
</app-product>

<app-transfer *ngIf="transferDialog" [product]="selectedItem" [locations]="wereHouses"
    (onCloseDialog)="closeTransferDialog($event)" (transfer)="doTransfer($event)">
</app-transfer>

<app-addition *ngIf="additionDialog" [product]="selectedItem" [locations]="wereHouses"
    (onCloseDialog)="closeAdditionDialog($event)" (addition)="saveAddition($event)">
</app-addition>

<app-prod-removal *ngIf="removalDialog" [product]="selectedItem" [locations]="wereHouses"
    (onCloseDialog)="closeRemovalDialog($event)" (removeRequested)="removeProducts($event)">
</app-prod-removal>

<app-sell *ngIf="sellDialog" [product]="selectedItem" [locations]="wereHouses" [sell]="sell"
    (onCloseDialog)="closeSellDialog($event)" (sale)="sale($event)">
</app-sell>

<app-basket *ngIf="basketDialog" [items]="sellList" [locations]="wereHouses" (onCloseDialog)="closeBasketDialog($event)"
    (removeItem)="turnFromBasket($event)">
</app-basket>

<app-confirm [title]="selectedItem.productType" (confirm)="confirmDelete($event)" *ngIf="showConfirm">
    <span header class="confirm-title">Ви впевнені, що бажаєте видалити продукт:
        <b>{{selectedItem.productType}}</b>
    </span>
</app-confirm>

<app-spinner *ngIf="showSpinner">
</app-spinner>

<app-columns-picker *ngIf="showColumnsPicker" [columns]="columns" [hiddenColumns]="hiddenColumns"
    (closeDialog)="onColumnsPickerClosed($event)">

</app-columns-picker>